<app-barra></app-barra>

<header>
  <div class="texto-header">
    <h3>Matheus Alves - Desenvolvedor Full Stack</h3>
  </div>
</header>

<section id="Principal">
  <div class="info">
    <div class="foto">
      <img src="./assets/img/foto_eu.jpg" alt="Minha foto">
    </div>
      <h1>Sobre mim</h1>
        <p>Estudante de Ciências da Computação<br></p>
        <p>Sou apaixonado por Tecnologia, e amo aprender. Tenho conhecimento em Back-End, mas estou me aventurando no Front-End</p>
        <p>Esse é o meu primeiro Portfólio utilizando o Angular</p>

      <p><strong>Habilidades:</strong> Java | Python | HTML | CSS | JavaScript</p>
      <div class="texto">
        <div class="linguagens">
          <img src="https://cdn-icons-png.flaticon.com/512/5968/5968282.png" alt="Java" class="icon">
          <img src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png" alt="Python" class="icon">
          <img src="https://cdn-icons-png.flaticon.com/512/5968/5968267.png" alt="HTML" class="icon">
          <img src="https://cdn-icons-png.flaticon.com/512/5968/5968242.png" alt="CSS" class="icon">
          <img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="JavaScript" class="icon">
        </div>
    </div>
  </div>
</section>

<section id="contato">
  <h2>Contato</h2>
  <div class="contato-icons">
    <a href="https://github.com/devmatheus010" target="_blank">
      <img src="https://cdn-icons-png.flaticon.com/512/733/733553.png" alt="GitHub">
    </a>
    <a href="https://www.linkedin.com/in/matheus-alves-desenvolvedor" target="_blank">
      <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
    </a>
  </div>
</section>

<app-rodape></app-rodape>

